.App {
  text-align: center;
}

.app__form {
  margin:20px;
}
.receipts {
  display:flex;
  justify-content: center;
  gap:15px;
}
.receipt__card {
  text-align: left;
  padding:10px;
  width:15rem;
  border:2px solid black;
}

.receipt__card, ul {
  margin:0;
  list-style: none;
}

.addReceipt__form {
  display:flex;
  flex-direction: column;
  
  margin:auto;
  width:15rem;
}